header {
  text-align:center;
  height: 450px;
  width: 100%;
  padding-top: 2em;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}